
/Tests/IdSharp.Tagging.Tests/IdSharp.Tagging.Tests.5.1.ReSharper.user
/Tests/IdSharp.Tagging.Tests/IdSharp.Tagging.Tests.suo
/Tests/IdSharp.Tagging.Tests/bin/Debug/Coverage.Log
/Tests/IdSharp.Tagging.Tests/bin/Debug/IdSharp.Tagging.Tests.dll
/Tests/IdSharp.Tagging.Tests/bin/Debug/IdSharp.Tagging.Tests.dll.VisualState.xml
/Tests/IdSharp.Tagging.Tests/bin/Debug/IdSharp.Tagging.Tests.pdb
/Tests/IdSharp.Tagging.Tests/bin/Debug/IdSharp.Tagging.dll
/Tests/IdSharp.Tagging.Tests/bin/Debug/IdSharp.Tagging.pdb
/Tests/IdSharp.Tagging.Tests/bin/Debug/IdSharp.Tagging.xml
/Tests/IdSharp.Tagging.Tests/bin/Debug/TestResult.xml
/Tests/IdSharp.Tagging.Tests/bin/Debug/nunit.framework.dll
/Tests/IdSharp.Tagging.Tests/bin/Debug/zlib.net.dll
/Tests/IdSharp.Tagging.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Tests/IdSharp.Tagging.Tests/obj/Debug/IdSharp.Tagging.Tests.csproj.FileListAbsolute.txt
/Tests/IdSharp.Tagging.Tests/obj/Debug/IdSharp.Tagging.Tests.dll
/Tests/IdSharp.Tagging.Tests/obj/Debug/IdSharp.Tagging.Tests.pdb
/Tests/IdSharp.Tagging.Tests/obj/Debug/ResolveAssemblyReference.cache
/IdSharp.Tagging/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/IdSharp.Tagging/obj/Debug/GenerateResource.read.1.tlog
/IdSharp.Tagging/obj/Debug/GenerateResource.write.1.tlog
/IdSharp.Tagging/obj/Debug/IdSharp.Tagging.Properties.Resources.resources
/IdSharp.Tagging/obj/Debug/IdSharp.Tagging.csproj.FileListAbsolute.txt
/IdSharp.Tagging/obj/Debug/IdSharp.Tagging.dll
/IdSharp.Tagging/obj/Debug/IdSharp.Tagging.pdb
/IdSharp.Tagging/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/IdSharp.Tagging/bin/Debug/IdSharp.Tagging.dll
/IdSharp.Tagging/bin/Debug/IdSharp.Tagging.pdb
/IdSharp.Tagging/bin/Debug/IdSharp.Tagging.xml
/IdSharp.Tagging/bin/Debug/zlib.net.dll
/IdSharp.Tagging/IdSharp.Tagging.suo
/IdSharp.Tagging/IdSharp.Tagging.csproj.user
/IdSharp.Tagging/IdSharp.Tagging.5.1.ReSharper.user
/Examples/IdSharp.Tagging.Harness.WinForms/IdSharp.Tagging.Harness.WinForms.suo
/Examples/IdSharp.Tagging.Harness.WinForms/IdSharp.Tagging.Harness.WinForms.csproj.user
/Examples/IdSharp.Tagging.Harness.WinForms/bin/Debug/IdSharp.Tagging.Harness.WinForms.exe
/Examples/IdSharp.Tagging.Harness.WinForms/bin/Debug/IdSharp.Tagging.Harness.WinForms.exe.config
/Examples/IdSharp.Tagging.Harness.WinForms/bin/Debug/IdSharp.Tagging.Harness.WinForms.pdb
/Examples/IdSharp.Tagging.Harness.WinForms/bin/Debug/IdSharp.Tagging.Harness.WinForms.vshost.exe
/Examples/IdSharp.Tagging.Harness.WinForms/bin/Debug/IdSharp.Tagging.Harness.WinForms.vshost.exe.config
/Examples/IdSharp.Tagging.Harness.WinForms/bin/Debug/IdSharp.Tagging.dll
/Examples/IdSharp.Tagging.Harness.WinForms/bin/Debug/IdSharp.Tagging.pdb
/Examples/IdSharp.Tagging.Harness.WinForms/bin/Debug/IdSharp.Tagging.xml
/Examples/IdSharp.Tagging.Harness.WinForms/bin/Debug/IdSharpHarness.exe.config
/Examples/IdSharp.Tagging.Harness.WinForms/bin/Debug/IdSharpHarness.vshost.exe.config
/Examples/IdSharp.Tagging.Harness.WinForms/bin/Debug/IdSharpHarness.vshost.exe.manifest
/Examples/IdSharp.Tagging.Harness.WinForms/bin/Debug/zlib.net.dll
/Examples/IdSharp.Tagging.Harness.WinForms/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Examples/IdSharp.Tagging.Harness.WinForms/obj/Debug/GenerateResource.read.1.tlog
/Examples/IdSharp.Tagging.Harness.WinForms/obj/Debug/GenerateResource.write.1.tlog
/Examples/IdSharp.Tagging.Harness.WinForms/obj/Debug/IdSharp.Tagging.Harness.WinForms.MainForm.resources
/Examples/IdSharp.Tagging.Harness.WinForms/obj/Debug/IdSharp.Tagging.Harness.WinForms.Properties.Resources.resources
/Examples/IdSharp.Tagging.Harness.WinForms/obj/Debug/IdSharp.Tagging.Harness.WinForms.UserControls.ID3v1UserControl.resources
/Examples/IdSharp.Tagging.Harness.WinForms/obj/Debug/IdSharp.Tagging.Harness.WinForms.UserControls.ID3v2UserControl.resources
/Examples/IdSharp.Tagging.Harness.WinForms/obj/Debug/IdSharp.Tagging.Harness.WinForms.csproj.FileListAbsolute.txt
/Examples/IdSharp.Tagging.Harness.WinForms/obj/Debug/IdSharp.Tagging.Harness.WinForms.exe
/Examples/IdSharp.Tagging.Harness.WinForms/obj/Debug/IdSharp.Tagging.Harness.WinForms.pdb
/Examples/IdSharp.Tagging.Harness.WinForms/obj/Debug/IdSharpHarness.csproj.FileListAbsolute.txt
/Examples/IdSharp.Tagging.Harness.WinForms/obj/Debug/ResolveAssemblyReference.cache
/Examples/IdSharp.Tagging.Harness.WinForms/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/IdSharp.Tagging/obj/Debug/ResolveAssemblyReference.cache
/Examples/IdSharp.Tagging.Harness.WinForms/bin/Debug/IdSharp.AudioInfo.dll
/Examples/IdSharp.Tagging.Harness.WinForms/bin/Debug/IdSharp.AudioInfo.pdb
/Examples/IdSharp.Tagging.Harness.WinForms/bin/Debug/IdSharp.AudioInfo.xml
/Examples/IdSharp.Tagging.Harness.WinForms/bin/Debug/IdSharp.Common.dll
/Examples/IdSharp.Tagging.Harness.WinForms/bin/Debug/IdSharp.Common.pdb
/Examples/IdSharp.Tagging.Harness.WinForms/bin/Debug/IdSharp.Common.xml
/Examples/IdSharp.Tagging.Harness.WinForms/bin/Debug/IdSharp.Tagging.Harness.WinForms.vshost.exe.manifest
/Examples/IdSharp.Tagging.Harness.WinForms/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Examples/IdSharp.Tagging.Harness.WinForms/IdSharp.Tagging.Harness.WinForms.5.1.ReSharper.user
/IdSharp.AudioInfo/bin/Debug/IdSharp.AudioInfo.XML
/IdSharp.AudioInfo/bin/Debug/IdSharp.AudioInfo.dll
/IdSharp.AudioInfo/bin/Debug/IdSharp.AudioInfo.pdb
/IdSharp.AudioInfo/bin/Debug/IdSharp.Common.dll
/IdSharp.AudioInfo/bin/Debug/IdSharp.Common.pdb
/IdSharp.AudioInfo/bin/Debug/IdSharp.Common.xml
/IdSharp.AudioInfo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/IdSharp.AudioInfo/obj/Debug/GenerateResource.read.1.tlog
/IdSharp.AudioInfo/obj/Debug/GenerateResource.write.1.tlog
/IdSharp.AudioInfo/obj/Debug/IdSharp.AudioInfo.Properties.Resources.resources
/IdSharp.AudioInfo/obj/Debug/IdSharp.AudioInfo.csproj.FileListAbsolute.txt
/IdSharp.AudioInfo/obj/Debug/IdSharp.AudioInfo.dll
/IdSharp.AudioInfo/obj/Debug/IdSharp.AudioInfo.pdb
/IdSharp.AudioInfo/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/IdSharp.Common/IdSharp.Common.5.1.ReSharper.user
/IdSharp.Common/IdSharp.Common.suo
/IdSharp.Common/bin/Debug/IdSharp.Common.XML
/IdSharp.Common/bin/Debug/IdSharp.Common.dll
/IdSharp.Common/bin/Debug/IdSharp.Common.pdb
/IdSharp.Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/IdSharp.Common/obj/Debug/IdSharp.Common.csproj.FileListAbsolute.txt
/IdSharp.Common/obj/Debug/IdSharp.Common.dll
/IdSharp.Common/obj/Debug/IdSharp.Common.pdb
/IdSharp.Tagging/bin/Debug/IdSharp.Common.dll
/IdSharp.Tagging/bin/Debug/IdSharp.Common.pdb
/IdSharp.Tagging/bin/Debug/IdSharp.Common.xml
/Tests/IdSharp.Tagging.Tests/IdSharp.Common.Tests.5.1.ReSharper.user
/Tests/IdSharp.Tagging.Tests/IdSharp.Common.Tests.suo
/Tests/IdSharp.Tagging.Tests/bin/Debug/IdSharp.Common.Tests.dll
/Tests/IdSharp.Tagging.Tests/bin/Debug/IdSharp.Common.Tests.dll.VisualState.xml
/Tests/IdSharp.Tagging.Tests/bin/Debug/IdSharp.Common.Tests.pdb
/Tests/IdSharp.Tagging.Tests/bin/Debug/IdSharp.Common.dll
/Tests/IdSharp.Tagging.Tests/bin/Debug/IdSharp.Common.pdb
/Tests/IdSharp.Tagging.Tests/bin/Debug/IdSharp.Common.xml
/Tests/IdSharp.Tagging.Tests/obj/Debug/IdSharp.Common.Tests.csproj.FileListAbsolute.txt
/Tests/IdSharp.Tagging.Tests/obj/Debug/IdSharp.Common.Tests.dll
/Tests/IdSharp.Tagging.Tests/obj/Debug/IdSharp.Common.Tests.pdb
/Tests/IdSharp.Common.Tests/bin/Debug/Coverage.Log
/Tests/IdSharp.Common.Tests/bin/Debug/IdSharp.Common.Tests.dll
/Tests/IdSharp.Common.Tests/bin/Debug/IdSharp.Common.Tests.dll.VisualState.xml
/Tests/IdSharp.Common.Tests/bin/Debug/IdSharp.Common.Tests.pdb
/Tests/IdSharp.Common.Tests/bin/Debug/IdSharp.Common.dll
/Tests/IdSharp.Common.Tests/bin/Debug/IdSharp.Common.pdb
/Tests/IdSharp.Common.Tests/bin/Debug/IdSharp.Common.xml
/Tests/IdSharp.Common.Tests/bin/Debug/IdSharp.Tagging.Tests.dll
/Tests/IdSharp.Common.Tests/bin/Debug/IdSharp.Tagging.Tests.dll.VisualState.xml
/Tests/IdSharp.Common.Tests/bin/Debug/IdSharp.Tagging.Tests.pdb
/Tests/IdSharp.Common.Tests/bin/Debug/IdSharp.Tagging.dll
/Tests/IdSharp.Common.Tests/bin/Debug/IdSharp.Tagging.pdb
/Tests/IdSharp.Common.Tests/bin/Debug/IdSharp.Tagging.xml
/Tests/IdSharp.Common.Tests/bin/Debug/TestResult.xml
/Tests/IdSharp.Common.Tests/bin/Debug/nunit.framework.dll
/Tests/IdSharp.Common.Tests/bin/Debug/zlib.net.dll
/Tests/IdSharp.Common.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Tests/IdSharp.Common.Tests/obj/Debug/IdSharp.Common.Tests.csproj.FileListAbsolute.txt
/Tests/IdSharp.Common.Tests/obj/Debug/IdSharp.Common.Tests.dll
/Tests/IdSharp.Common.Tests/obj/Debug/IdSharp.Common.Tests.pdb
/Tests/IdSharp.Common.Tests/obj/Debug/IdSharp.Tagging.Tests.csproj.FileListAbsolute.txt
/Tests/IdSharp.Common.Tests/obj/Debug/IdSharp.Tagging.Tests.dll
/Tests/IdSharp.Common.Tests/obj/Debug/IdSharp.Tagging.Tests.pdb
/Tests/IdSharp.Common.Tests/obj/Debug/ResolveAssemblyReference.cache
/IdSharp.AudioInfo/IdSharp.AudioInfo.csproj.user
/Examples/IdSharp.Tagging.Harness.Wpf/bin/Debug/IdSharp.AudioInfo.dll
/Examples/IdSharp.Tagging.Harness.Wpf/bin/Debug/IdSharp.AudioInfo.pdb
/Examples/IdSharp.Tagging.Harness.Wpf/bin/Debug/IdSharp.AudioInfo.xml
/Examples/IdSharp.Tagging.Harness.Wpf/bin/Debug/IdSharp.Common.dll
/Examples/IdSharp.Tagging.Harness.Wpf/bin/Debug/IdSharp.Common.pdb
/Examples/IdSharp.Tagging.Harness.Wpf/bin/Debug/IdSharp.Common.xml
/Examples/IdSharp.Tagging.Harness.Wpf/bin/Debug/IdSharp.Tagging.Harness.Wpf.exe
/Examples/IdSharp.Tagging.Harness.Wpf/bin/Debug/IdSharp.Tagging.Harness.Wpf.pdb
/Examples/IdSharp.Tagging.Harness.Wpf/bin/Debug/IdSharp.Tagging.Harness.Wpf.vshost.exe
/Examples/IdSharp.Tagging.Harness.Wpf/bin/Debug/IdSharp.Tagging.dll
/Examples/IdSharp.Tagging.Harness.Wpf/bin/Debug/IdSharp.Tagging.pdb
/Examples/IdSharp.Tagging.Harness.Wpf/bin/Debug/IdSharp.Tagging.xml
/Examples/IdSharp.Tagging.Harness.Wpf/bin/Debug/zlib.net.dll
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/App.g.cs
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/App.g.i.cs
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/GenerateResource.read.1.tlog
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/GenerateResource.write.1.tlog
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/GeneratedInternalTypeHelper.g.cs
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/GeneratedInternalTypeHelper.g.i.cs
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/IdSharp.Tagging.Harness.Wpf.Properties.Resources.resources
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/IdSharp.Tagging.Harness.Wpf.csproj.FileListAbsolute.txt
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/IdSharp.Tagging.Harness.Wpf.exe
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/IdSharp.Tagging.Harness.Wpf.g.resources
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/IdSharp.Tagging.Harness.Wpf.pdb
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/IdSharp.Tagging.Harness.Wpf_MarkupCompile.cache
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/IdSharp.Tagging.Harness.Wpf_MarkupCompile.i.cache
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/IdSharp.Tagging.Harness.Wpf_MarkupCompile.i.lref
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/IdSharp.Tagging.Harness.Wpf_MarkupCompile.lref
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/MainWindow.g.i.cs
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/ResolveAssemblyReference.cache
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/View/ID3v1View.baml
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/View/ID3v1View.g.cs
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/View/ID3v1View.g.i.cs
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/View/ID3v2View.baml
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/View/ID3v2View.g.cs
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/View/ID3v2View.g.i.cs
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/View/MainWindow.baml
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/View/MainWindow.g.cs
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/View/MainWindow.g.i.cs
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/View/ScanView.baml
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/View/ScanView.g.cs
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/View/ScanView.g.i.cs
/IdSharp.AudioInfo/obj/Debug/ResolveAssemblyReference.cache
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/App.baml
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/Styles/Converters.baml
/Examples/IdSharp.Tagging.Harness.Wpf/obj/x86/Debug/Styles/Default.baml